// Nova Tool CSS

@import '~vue-select/src/scss/vue-select.scss';

.nova-select-plus-vs .vs__selected {
  background: var(--20);
  border: 1px solid var(--primary-dark);
  color: var(--primary-dark);
}

.nova-select-plus-vd .vd__item {
  display: block;
  border-radius: 4px;
  background: var(--20);
  border: 1px solid var(--primary-dark);
  color: var(--primary-dark);
  margin: 4px 2px 0;
  padding: 0 .25em;
}
