// Nova Tool CSS

@import '~vue-select/src/scss/vue-select.scss';

.nova-select-plus-vs .vs__selected {
  background: var(--20);
  border: 1px solid var(--primary-dark);
  color: var(--primary-dark);
}

.nova-select-plus-vs .vs__dropdown-toggle {
  border-color: var(--60);
  border-radius: .5rem;
  padding: 3px 3px 7px 5px;
}

.nova-select-plus-vs .vs__open-indicator {
  fill: var(--primary);
}

.nova-select-plus-vs .vs__open-indicator:hover {
  opacity: .5;
}

.nova-select-plus-vs .vs__deselect {
  fill: var(--primary);
}

.nova-select-plus-vs .vs__deselect:hover {
  opacity: .5;
}

.nova-select-plus-vd .vd__item {
  display: block;
  border-radius: 4px;
  background: var(--20);
  border: 1px solid var(--primary-dark);
  color: var(--primary-dark);
  margin: 4px 2px 0;
  padding: .5rem;
}

.nova-select-plus-vd .vd__item:hover {
  opacity: .75;
}
