@import "../../node_modules/vue-select/dist/vue-select.css";

@tailwind components;
@tailwind utilities;

@layer components {
    .nova-select-plus-vs .vs__selected {
        @apply min-h-6 border-0 text-xs font-bold rounded px-2 py-1 space-x-1 bg-primary-50 text-primary-600 dark:bg-primary-500 dark:text-gray-900;
    }

    .nova-select-plus-vs .vs__selected:hover {
        opacity: inherit;
    }

    :is(.dark .nova-select-plus-vs .vs__selected:hover) {
        opacity: inherit;
    }

    .nova-select-plus-vs .vs__dropdown-menu {
        @apply border p-0 my-1 rounded-lg shadow divide-y bg-white border-gray-200 divide-gray-100 dark:bg-gray-900 dark:border-gray-700 dark:divide-gray-800;
    }

    .nova-select-plus-vs .vs__dropdown-toggle {
        @apply p-[3px_3px_7px_5px] rounded focus-within:outline-none focus-within:ring bg-white border-gray-300 focus-within:border-primary-300 ring-primary-100 dark:bg-gray-900 dark:border-gray-700 dark:text-gray-400 dark:focus-within:border-gray-500 dark:ring-gray-700;
    }

    .nova-select-plus-vs .vs__dropdown-toggle:focus-within {
        @apply border-primary-300 dark:border-gray-500;
    }

    .nova-select-plus-vs .vs__open-indicator {
        @apply fill-current;
    }

    .nova-select-plus-vs .vs__open-indicator:hover {
        @apply opacity-50;
    }

    .nova-select-plus-vs .vs__actions {
        padding: 4px 11px 0 3px;
    }

    .nova-select-plus-vs .vs__deselect {
        @apply fill-current hover:opacity-75 dark:hover:opacity-50;
    }

    .nova-select-plus-vs .vs__dropdown-option {
        @apply text-sm leading-normal font-semibold px-3 py-1.5 hover:bg-gray-100 dark:hover:bg-gray-800;
    }

    .nova-select-plus-vs .vs__dropdown-option--selected,
    .nova-select-plus-vs .vs__dropdown-option--highlight {
        @apply bg-primary-500 hover:bg-primary-500 text-white dark:hover:bg-primary-500 dark:text-gray-900 dark:hover:text-gray-900;
    }

    /* Vue Draggable Customization */

    .nova-select-plus-vd .vd__item {
        @apply block font-bold mt-1 mx-0.5 p-2 rounded-lg cursor-pointer bg-primary-50 text-primary-600 dark:bg-primary-500 dark:text-gray-900;
    }

    .nova-select-plus-vd .vd__item_drag_icon {
        @apply float-right fill-current;
    }
}
